@page
@using System.Net
@using System.Net.Sockets
@model IndexModel
@{
    string hostName = Dns.GetHostName();
    IPAddress[] addresses = Dns.GetHostAddresses(hostName);
    string myIp = String.Empty;
    foreach (IPAddress ip in addresses)
    {
        // Filter for IPv4 and non-loopback addresses
        if (ip.AddressFamily == AddressFamily.InterNetwork && !IPAddress.IsLoopback(ip) && !ip.ToString().StartsWith("169.254"))
        {
            myIp = ip.ToString();
            break; // Stop after finding the first valid IP
        }
    }

    var h = Request.IsHttps ? "https://" : "http://";
    
    ViewData["Title"] = $"Web Comic Viewer :: {h}{myIp}:13050";
    var reader = new HeapStack.Core.CBR.ComicReader();
    var books = IndexModel.Config.GetSection("Comics_Directory").Value;
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<h4>Web Comic Viewer, use this address to view your comics: @h@myIp:13050</h4>

<div class="thumbnails_browser">
@{
    foreach (string file in Directory.EnumerateFiles(books, "*.*", SearchOption.AllDirectories))
    {
        if (!System.IO.Path.GetFileName(file).StartsWith(".")) {
            var imgSrc = "";
            var fileNameWithoutExt = System.IO.Path.GetFileNameWithoutExtension(file);
            var thumbnailPath = $"thumbnails/{fileNameWithoutExt}.png";
            if (!System.IO.File.Exists($"wwwroot/{thumbnailPath}")) {
                var base64 = reader.Read(file).Pages[0].Data;
                System.IO.File.WriteAllBytes($"wwwroot/{thumbnailPath}", base64);
            }
            imgSrc = $"/{thumbnailPath}";
            
            <a href="View/?readfile=@System.Web.HttpUtility.UrlEncode(System.IO.Path.GetFullPath(file))">
                <div class="thumbnail_container">
                    <img src="@imgSrc" class="thumbnail" loading="lazy">
                    <p>@fileNameWithoutExt</p>
                </div>
            </a>
        }
    }
}
</div>

<footer>
    Created by Jacob Fliss
</footer>